      <!-- header section -->
      <header class="header-section pt-5 px-3 mx-auto fixed-top bg-primary">
        <nav
          class="container navbar navbar-expand-md navbar-dark bg-primary fixed-top border-bottom border-white px-3"
        >
          <!-- header logo -->
          <div class="header-section__logo">
            <a class="navbar-brand" href="#"
              ><img
                width="60"
                height="auto"
                src="../../assets/images/header_odoo-w.svg"
                alt="Odoo Logo"
            /></a>
          </div>

          <!-- header links -->
          <div class="header-section__links collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              {{#each header.links}}
              <li class="nav-item active">
                <a class="nav-link" href="{{this.url}}">
                  {{this.text}}
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

          <!-- header buttons -->
          <div class="header-section__buttons form-inline my-2 my-lg-0">
            {{#each header.cta}}
            <a href="{{this.url}}" class="btn my-2 my-sm-0 {{this.class}}" type="submit">
              {{this.text}}
            </a>
            {{/each}}
          </div>

          <!-- mobile menu icon -->
          <button
            class="navbar-toggler text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </header>