{{#with swiper}}
<section class="swiper-section">
  <div class="container">
      <p class="section-tag bg-primary text-white">{{this.section_tag}}</p>
      <h2 class="pb-3">{{this.title}}</h2>
<!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      {{#each slider}} 
      <div class="swiper-slide">
        <div class="card">
            <div class="card-body px-3 d-flex flex-column align-items-center justify-content-center">
                <img class="card-img-top" src="{{webRoot}}{{this.img.url}}" alt="{{this.img.alt}}">
                {{#if this.stars}}
                  <span class="text-warning">{{this.stars}}</span>
                {{/if}}
                {{#if this.title}}
                  <div>
                    <h6 class="card-title">{{this.title}}</h6>
                    {{#if this.under_title}}
                    <p class="under-title text-secondary">{{this.under_title}}</p>
                    {{/if}}
                  </div>
                {{/if}}
                {{#if this.description}}
                <p class="card-text text-secondary">{{this.description}}</p>
                 {{/if}}
                {{#if this.cta.enabled}}
                <a class="text-dark" href="{{this.cta.url}}">{{this.cta.text}}</a>
                 {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
{{/with}}

    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      freeMode: true,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>