<div class="container">
    <p>Awards</p>
    <h2>Awards for design, creativity, and innovation on the Internet</h2>
<!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      {{#each slider}} 
      <div class="swiper-slide">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img class="card-img-top" src="{{webRoot}}{{this.img.url}}" alt="{{this.img.alt}}">
                <span>{{this.stars}}</span>
                <h5 class="card-title">{{this.title}}</h5>
                <p class="under-title">{{this.under_title}}</p>
                {{!-- <p class="subtitle"></p> --}}
                <p class="card-text">{{this.description}}</p>
                <a href="{{this.cta.url}}">{{this.cta.text}}</a>
            </div>
        </div>
      </div>
      {{/each}}
      
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      freeMode: true,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</body>