{{#with hero.second_col.card}}
<div class="card-section rounded card text-white p-3 w-75  justify-content-center">

  <!-- card title -->
  <div class="card-section__head d-flex flex-row justify-content-between">
    <img
      width="50px"
      height="auto"
      src="{{webRoot}}{{this.img.url}}"
      alt="{{this.img.alt}}"
    />
    <button class="btn text-white">{{this.status}}</button>
  </div>

  <!-- card number -->
  <div class="card-section__number pt-4 pb-3">
    <p class="m-0 card-text">{{this.text}}</p>
    <h4 class="d-flex justify-content-center">{{this.number}}</h4>
  </div>

  <!-- card info -->
  <div class="card-section__info d-flex flex-row">
  {{#each info}}
    <div class="name d-flex flex-column {{this.class}}">
      <p class="m-0 card-text">{{this.title}}</p>
      <p class="m-0">{{this.text}}</p>
    </div>
  {{/each}}
  </div>
</div>
{{/with}}