{{#with faqs}}
<section class="faqs-section text-center">
    <div class="container">
        <h2>{{this.title}}</h2>
        <p class="text-muted">{{this.description}}</p>
        <div class="row">

        </div>

        <p>{{this.subtitle}}</p>
        <div class="">
            {{#each cta}}
            <a class="{{this.class}}" href="{{this.url}}">{{this.text}}</a>
            {{/each}}
        </div>

    </div>

</section>
{{/with}}