{{#with faqs}}
<section class="faqs-section text-center py-5">
    <div class="container">
        <div class="py-3">
            <h2 class="pb-1">{{this.title}}</h2>
            <p class="text-muted">{{this.description}}</p>
        </div>

        <div class="row">
            {{> faqs/grid}}
        </div>

        <p class="pt-5">{{this.subtitle}}</p>
        <div class="faqs-section__cta">
            {{#each cta}}
            <a type="button" class="btn mx-1 {{#if this.class}}{{this.class}}{{/if}}" href="{{this.url}}">{{this.text}}</a>
            {{/each}}
        </div>

    </div>

</section>
{{/with}}